<h1 class="jumbotron jumbotron-fluid" id="heading">Burgers!</h1>
<div class="container" id="burgerLists">
  <div class="row mx-md-n5">
    <div id="leftSection" class="col-sm-12 col-md-6 px-md-5">
      <h2>Burgers that have not been eaten</h2>

      <ul>
        {{#each burgers}}
        {{#unless sleepy}}
        {{> burgers/burger-block sleep=true}}
        {{/unless}}
        {{/each}}
      </ul>
    </div>

    <div id="rightSection" class="col-sm-12 col-md-6 px-md-5">
      <h2>Burgers that have been eaten</h2>

      <ul>
        {{#each burgers}}
        {{#if sleepy}}
        {{> burgers/burger-block sleep=false}}
        {{/if}}
        {{/each}}
      </ul>
    </div>
  </div>

  </div>  
  <div class="container-fluid" id="addBurger">
    <h2>Add a burger</h2>
    <form class="create-form">

      <div class="form-group">
        <label for="ca">Burger Name:</label>
        <input type="text" id="ca" name="name">
      </div>

      <div class="form-group">
        <label for="sleepy">Sleepy?</label><br>
        <input type="radio" name="sleepy" value="1" checked> Sleepy!<br>
        <input type="radio" name="sleepy" value="0"> Awake
      </div>

      <button type="submit">Add burger</button>
    </form>
  </div>
