body {
  background-color: lightblue !important;
}

li {
  padding: 5px;
  margin: 5px;
  background: #faebd7;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}

#burgerLists{
  padding-top: 10px;
}

#addBurger{
  margin: auto;
  width: 25%;
  border: 3px solid green;
  padding: 10px;
  border-radius: 15px;
  background-color: rgb(144, 238, 144, 0.6);
}

#leftSection{
  border: 3px solid yellow;
  border-radius: 15px 50px;
  background-color: rgba(255, 255, 128, 0.6) !important;
}

#rightSection{
  border: 3px solid red;
  border-radius: 50px 15px;
  background-color: rgb(240, 128, 128, 0.6);
}

.jumbotron{
  position: relative; 
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../burger.jpg);
  background-size: cover;
}

.jumbotron::before{
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0,0,0,0.35);
}

h1{
  color: #ffffff; 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}